*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "微软雅黑";
    background: #efefef;
    font-size: 12/64rem;
    position: relative;
}
a{
  text-decoration: none;
  color: #5b5b5b;
}
ul,ol{
    list-style: none;
}
.clearfix:after{
    content: ".";
    height: 0;
    clear: both;
    display: block;
    visibility: hidden;
}
.w(@w){
    width: @w;
}
.h(@h){
    height: @h;
}
.b(@c:red,@s:solid,@x:1px){
    border: @c @s @x;
}
.lh(@lh){
    line-height: @lh;
}
.f(@f:left){
    float: @f;
}
#home_wrap{
    .w(320/32rem);
    margin: 0 auto;
    position: absolute;
    left: 0;
    top: 0;
    background: white;
   z-index: 1000;
   transition: all 1s; 
   
}
.home_top{
    transition: all 1s;
    position: fixed;
    .h(110/32rem);
    .w(320/32rem);
    top: 0;
    left: 0;
    
    z-index: 1000;
}
.home_header{
    .h(40/32rem);
    .w(320/32rem);
    background: #ffd040;
    margin:  0 auto;
    .home_topL{
        .w(45/32rem);
        .h(35/32rem);
        .f();
        .lh(35/32rem);
        margin-top: 2/32rem;
        border-right: 2/32rem solid black;
        text-align: center;
       
        img{
            .w(1rem);
            .h(1rem);
             vertical-align: middle;
        }
        
    }
    
    .home_topC{
        .w(150/32rem);
        .h(38/32rem);
        text-indent: 5/32rem;
        .f();
        
    }
    .home_topR{
        .w(35/32rem);
        .h(40/32rem);
        .lh(40/32rem);
        
        .f(right);
        padding:6/32rem 0 0 0 ;
        img{
            .w(27/32rem);
            .h(27/32rem);
            
        }
    }
}

.home_menu{
    .w(320/32rem);
    .h(70/32rem);
   
    display: flex;
    flex-direction: row;
    .home_search{

        .w(35/32rem);
        .h(70/32rem);
       
        figure{
             .w(35/32rem);
             .h(35/32rem);
             img{
                 .w(35/32rem);
                .h(35/32rem);
             }
        }
    }
    .home_list{
       .w(280/32rem);
       .h(70/32rem);
       flex-grow: 1;
      background: white;
       ul{
            .w(284/32rem);
            .h(35/32rem);
           
            border-bottom: solid 1px darkgray;
           li{
               .w(56/32rem);
               .h(34/32rem);
               padding: 10/32rem;
               text-align: center;
               .f();
              
               
           }
           li:hover{
               font-size: 14/32rem;
               border-bottom: 2/32rem solid black;
           }
       }
       ul:nth-of-type(2){
           li:nth-of-type(3){
               .w(80/32rem);
           }
       }
    }
}

.home_banner{
    .w(320/32rem);
    .h(110/32rem);
    margin: 112/32rem 0 0 0;
    img{
        .w(320/32rem);
        .h(110/32rem);
    }
}

.home_kill{
    .w(320/32rem);
    .h(150/32rem);
    margin: 10/32rem 0 6/32rem;
    ul{
        .w(320/32rem);
        li{
            .f();
            .w(158/32rem);
            .h(70/32rem);
            margin: 0 0 2/32rem;
            img{
                .w(159/32rem);
                .h(70/32rem);
            }
        }
        li:nth-of-type(2n+1){
            margin-right: 2/32rem ;
        }
    }
}

.home_crazy{
    .w(320/32rem);
    .h(150/32rem);
    img{
        .w(320/32rem);
        .h(150/32rem);
    }
}
.home_foodList{
    figure{
        .w(320/32rem);
        .h(90/32rem);
        display: flex;
        flex-direction: row;
        background: white;
        border-bottom: dashed 1/32rem gray;
        img{
            .w(110/32rem);
            .h(82/32rem);
            margin: 5/32rem 0 3/32rem 5/32rem;
            
        }
        figcaption{
            position: relative;
            flex-grow: 1;
            .w(200/32rem);
            .h(82/32rem);
             margin: 5/32rem 0 3/32rem 5/32rem;
             text-indent: 10/32rem;
            
            p{
                .h(20/32rem);
                
                span{
                    font-size: 15/32rem;
                }
            }
            p:nth-of-type(2){
                .w(170/32rem);
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                color: darkgray;
            }
            p:nth-of-type(3){
                color: red;
                 background: url(../img/c_font_bg.png) no-repeat left center;
                 background-size: 100/32rem 20/32rem;
            }
            .home_add{
                     position: absolute;
                     right:20/32rem;
                     bottom: 20/32rem;
                    .lh(35/32rem);
                     border-radius: 50%;
                     background: #ffd040;
                    .h(35/32rem);
                    .w(35/32rem);
                   
                    font-size: 30/32rem;
                    text-indent: 7px;
                    z-index: 500;
            }
            .home_btn{
                position: absolute;
                bottom: 20/32rem;
                right: 20/32rem;
                border-radius: 15/32rem;
                background: #ffd040;
                display: none;
                .w(107/32rem);
                .h(35/32rem);
                .home_num{
                   .f();
                   .lh(35/32rem);
                    .h(35/32rem);
                    .w(35/32rem);
                  
                   font-size: 18/32rem;
                   display: none;
                 }
                  .home_cut{
                        .f();
                        .lh(35/32rem);
                         .h(35/32rem);
                        .w(35/32rem);
                         font-size: 30/32rem;
                        display: none;
                  }
                
                .home_rights{
                     .lh(35/32rem);
                     border-radius: 50%;
                     background: #ffd040;
                    .h(35/32rem);
                    .w(35/32rem);
                    .f(right);
                    font-size: 30/32rem;
                    text-indent: 7px;
                    
                    
                }
            }
            
        }
    }
    
    .home_h4{
        .h(23/32rem);
        .w(10rem);
         .lh(23/32rem);
         background: white;
         padding:  0 0 4px 0;
        border-bottom: solid 1px gray;
        p{
            .h(20/32rem);
            color: #ffb84d;
            .w(42/32rem);
            text-align: center;
            display: inline-block;
        }
        img{
             display: inline-block;
            .w(60/32rem);
            .h(16/32rem);
            vertical-align: middle;
        }
    }
}
.home_more{
    .w(320/32rem);
    .h(1rem);
     
    img{
        .w(320/32rem);
         .h(1rem);
    }
}

.home_changed {
    .w(10rem);
     margin:0 0 40/32rem 0;
}
.home_changed1{
    
    .w(320/32rem);
    display: none;
    background: white;
    margin:0 0 40/32rem 0;
    figure{
        .w(157/32rem);
        .h(220/32rem);
        .f();
        background: white;
        img{
            .w(157/32rem);
            .h(120/32rem);
        }
        figcaption{
            p:nth-of-type(1){
                font-size: 14/32rem;
                font-weight: bold;
            }
            p:nth-of-type(2){
                margin: 5/32rem 0;
                color: #a3a6a8;
            }
            p:nth-of-type(3){
                color: red;
                background: url(../img/c_font_bg.png) no-repeat 50/32rem center;
                background-size: 50/32rem 14/32rem;
                span{
                    font-size: 14/32rem;
               
                }
                img{
                    .w(40/32rem);
                    .h(10/32rem);
                }
            }
        }
    }
    figure:nth-of-type(2n){
        .f(right);
    }
}



















.home_footer{
    transition: all 1s; 
    .w(10rem);
    .h(40/32rem);
    position: fixed;
    background: white;
    bottom: 0;
    left: 0;
    z-index: 1000;
    .home_footer_ul{
        .w(10rem);
        .h(40/32rem);
         display: flex;
         flex-direction: row;
         li{
             .w(79/32rem);
             .h(40/32rem);
             flex-grow: 1;
             text-align: center;
             img{
                 margin:3/32rem 0 0 0;
                 .w(19/32rem);
                 .h(19/32rem);
             }
             figcaption{
                 margin-top: -3/32rem;
             }
         }
         li:hover{
             background: #ffc000;
         }
    }
}





#home_hidden{
    .w(10rem);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 800;
    background: #f5f6f7;
    border-top: 10px solid #4c5559;
    .home_Hnav{
        .lh(47/32rem);
        text-align: center;
        .w(257/32rem);
        .h(47/32rem);
        
        .home_fruit{
            .f();
            .w(127/32rem);
            .h(47/32rem);
            color:#ffd040;
            font-size: 25/32rem;
          
            
        
        }
        .home_food{
           
            .f();
            .w(127/32rem);
            .h(47/32rem);
            color: #abde23;
            font-size: 25/32rem;
           
        }
        
        
       
       
    }
    .home_Hmain2,.home_Hmain1{
        .w(257/32rem);
        .h(500/32rem);
        
        overflow-y:scroll;
        ul{
            .w(257/32rem);
            li{
                .w(78/32rem);
                .h(93/32rem);
                .f();
                margin: 0 7/32rem 9/32rem 0;
                
                img{
                     .w(78/32rem);
                     .h(93/32rem);
                     border-radius: 6/32rem;
                }
            }
        }
    }
    
}

.show{
    background:gray;
    border-top: solid 5px #ffd040;
    font-size: 30px;
}

.none{
    display: none;
}
.block{
    display: block;
}






