* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "微软雅黑";
  background: #efefef;
  font-size: 0.375rem;
  position: relative;
}
a {
  text-decoration: none;
  color: #5b5b5b;
}
ul,
ol {
  list-style: none;
}
.clearfix:after {
  content: ".";
  height: 0;
  clear: both;
  display: block;
  visibility: hidden;
}
#home_wrap {
  width: 10rem;
  margin: 0 auto;
  position: absolute;
  left: 0;
  top: 0;
  background: white;
  z-index: 1000;
  transition: all 1s;
}
.home_top {
  transition: all 1s;
  position: fixed;
  height: 3.4375rem;
  width: 10rem;
  top: 0;
  left: 0;
  z-index: 1000;
}
.home_header {
  height: 1.25rem;
  width: 10rem;
  background: #ffd040;
  margin: 0 auto;
}
.home_header .home_topL {
  width: 1.40625rem;
  height: 1.09375rem;
  float: left;
  line-height: 1.09375rem;
  margin-top: 0.0625rem;
  border-right: 0.0625rem solid #000000;
  text-align: center;
}
.home_header .home_topL img {
  width: 1rem;
  height: 1rem;
  vertical-align: middle;
}
.home_header .home_topC {
  width: 4.6875rem;
  height: 1.1875rem;
  text-indent: 0.15625rem;
  float: left;
}
.home_header .home_topR {
  width: 1.09375rem;
  height: 1.25rem;
  line-height: 1.25rem;
  float: right;
  padding: 0.1875rem 0 0 0;
}
.home_header .home_topR img {
  width: 0.84375rem;
  height: 0.84375rem;
}
.home_menu {
  width: 10rem;
  height: 2.1875rem;
  display: flex;
  flex-direction: row;
}
.home_menu .home_search {
  width: 1.09375rem;
  height: 2.1875rem;
}
.home_menu .home_search figure {
  width: 1.09375rem;
  height: 1.09375rem;
}
.home_menu .home_search figure img {
  width: 1.09375rem;
  height: 1.09375rem;
}
.home_menu .home_list {
  width: 8.75rem;
  height: 2.1875rem;
  flex-grow: 1;
  background: white;
}
.home_menu .home_list ul {
  width: 8.875rem;
  height: 1.09375rem;
  border-bottom: solid 1px darkgray;
}
.home_menu .home_list ul li {
  width: 1.75rem;
  height: 1.0625rem;
  padding: 0.3125rem;
  text-align: center;
  float: left;
}
.home_menu .home_list ul li:hover {
  font-size: 0.4375rem;
  border-bottom: 0.0625rem solid #000000;
}
.home_menu .home_list ul:nth-of-type(2) li:nth-of-type(3) {
  width: 2.5rem;
}
.home_banner {
  width: 10rem;
  height: 3.4375rem;
  margin: 3.5rem 0 0 0;
}
.home_banner img {
  width: 10rem;
  height: 3.4375rem;
}
.home_kill {
  width: 10rem;
  height: 4.6875rem;
  margin: 0.3125rem 0 0.1875rem;
}
.home_kill ul {
  width: 10rem;
}
.home_kill ul li {
  float: left;
  width: 4.9375rem;
  height: 2.1875rem;
  margin: 0 0 0.0625rem;
}
.home_kill ul li img {
  width: 4.96875rem;
  height: 2.1875rem;
}
.home_kill ul li:nth-of-type(2n+1) {
  margin-right: 0.0625rem;
}
.home_crazy {
  width: 10rem;
  height: 4.6875rem;
}
.home_crazy img {
  width: 10rem;
  height: 4.6875rem;
}
.home_foodList figure {
  width: 10rem;
  height: 2.8125rem;
  display: flex;
  flex-direction: row;
  background: white;
  border-bottom: dashed 0.03125rem #808080;
}
.home_foodList figure img {
  width: 3.4375rem;
  height: 2.5625rem;
  margin: 0.15625rem 0 0.09375rem 0.15625rem;
}
.home_foodList figure figcaption {
  position: relative;
  flex-grow: 1;
  width: 6.25rem;
  height: 2.5625rem;
  margin: 0.15625rem 0 0.09375rem 0.15625rem;
  text-indent: 0.3125rem;
}
.home_foodList figure figcaption p {
  height: 0.625rem;
}
.home_foodList figure figcaption p span {
  font-size: 0.46875rem;
}
.home_foodList figure figcaption p:nth-of-type(2) {
  width: 5.3125rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: darkgray;
}
.home_foodList figure figcaption p:nth-of-type(3) {
  color: red;
  background: url(../img/c_font_bg.png) no-repeat left center;
  background-size: 3.125rem 0.625rem;
}
.home_foodList figure figcaption .home_add {
  position: absolute;
  right: 0.625rem;
  bottom: 0.625rem;
  line-height: 1.09375rem;
  border-radius: 50%;
  background: #ffd040;
  height: 1.09375rem;
  width: 1.09375rem;
  font-size: 0.9375rem;
  text-indent: 7px;
  z-index: 500;
}
.home_foodList figure figcaption .home_btn {
  position: absolute;
  bottom: 0.625rem;
  right: 0.625rem;
  border-radius: 0.46875rem;
  background: #ffd040;
  display: none;
  width: 3.34375rem;
  height: 1.09375rem;
}
.home_foodList figure figcaption .home_btn .home_num {
  float: left;
  line-height: 1.09375rem;
  height: 1.09375rem;
  width: 1.09375rem;
  font-size: 0.5625rem;
  display: none;
}
.home_foodList figure figcaption .home_btn .home_cut {
  float: left;
  line-height: 1.09375rem;
  height: 1.09375rem;
  width: 1.09375rem;
  font-size: 0.9375rem;
  display: none;
}
.home_foodList figure figcaption .home_btn .home_rights {
  line-height: 1.09375rem;
  border-radius: 50%;
  background: #ffd040;
  height: 1.09375rem;
  width: 1.09375rem;
  float: right;
  font-size: 0.9375rem;
  text-indent: 7px;
}
.home_foodList .home_h4 {
  height: 0.71875rem;
  width: 10rem;
  line-height: 0.71875rem;
  background: white;
  padding: 0 0 4px 0;
  border-bottom: solid 1px gray;
}
.home_foodList .home_h4 p {
  height: 0.625rem;
  color: #ffb84d;
  width: 1.3125rem;
  text-align: center;
  display: inline-block;
}
.home_foodList .home_h4 img {
  display: inline-block;
  width: 1.875rem;
  height: 0.5rem;
  vertical-align: middle;
}
.home_more {
  width: 10rem;
  height: 1rem;
}
.home_more img {
  width: 10rem;
  height: 1rem;
}
.home_changed {
  width: 10rem;
  margin: 0 0 1.25rem 0;
}
.home_changed1 {
  width: 10rem;
  display: none;
  background: white;
  margin: 0 0 1.25rem 0;
}
.home_changed1 figure {
  width: 4.90625rem;
  height: 6.875rem;
  float: left;
  background: white;
}
.home_changed1 figure img {
  width: 4.90625rem;
  height: 3.75rem;
}
.home_changed1 figure figcaption p:nth-of-type(1) {
  font-size: 0.4375rem;
  font-weight: bold;
}
.home_changed1 figure figcaption p:nth-of-type(2) {
  margin: 0.15625rem 0;
  color: #a3a6a8;
}
.home_changed1 figure figcaption p:nth-of-type(3) {
  color: red;
  background: url(../img/c_font_bg.png) no-repeat 1.5625rem center;
  background-size: 1.5625rem 0.4375rem;
}
.home_changed1 figure figcaption p:nth-of-type(3) span {
  font-size: 0.4375rem;
}
.home_changed1 figure figcaption p:nth-of-type(3) img {
  width: 1.25rem;
  height: 0.3125rem;
}
.home_changed1 figure:nth-of-type(2n) {
  float: right;
}
.home_footer {
  transition: all 1s;
  width: 10rem;
  height: 1.25rem;
  position: fixed;
  background: white;
  bottom: 0;
  left: 0;
  z-index: 1000;
}
.home_footer .home_footer_ul {
  width: 10rem;
  height: 1.25rem;
  display: flex;
  flex-direction: row;
}
.home_footer .home_footer_ul li {
  width: 2.46875rem;
  height: 1.25rem;
  flex-grow: 1;
  text-align: center;
}
.home_footer .home_footer_ul li img {
  margin: 0.09375rem 0 0 0;
  width: 0.59375rem;
  height: 0.59375rem;
}
.home_footer .home_footer_ul li figcaption {
  margin-top: -0.09375rem;
}
.home_footer .home_footer_ul li:hover {
  background: #ffc000;
}
#home_hidden {
  width: 10rem;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 800;
  background: #f5f6f7;
  border-top: 10px solid #4c5559;
}
#home_hidden .home_Hnav {
  line-height: 1.46875rem;
  text-align: center;
  width: 8.03125rem;
  height: 1.46875rem;
}
#home_hidden .home_Hnav .home_fruit {
  float: left;
  width: 3.96875rem;
  height: 1.46875rem;
  color: #ffd040;
  font-size: 0.78125rem;
}
#home_hidden .home_Hnav .home_food {
  float: left;
  width: 3.96875rem;
  height: 1.46875rem;
  color: #abde23;
  font-size: 0.78125rem;
}
#home_hidden .home_Hmain2,
#home_hidden .home_Hmain1 {
  width: 8.03125rem;
  height: 15.625rem;
  overflow-y: scroll;
}
#home_hidden .home_Hmain2 ul,
#home_hidden .home_Hmain1 ul {
  width: 8.03125rem;
}
#home_hidden .home_Hmain2 ul li,
#home_hidden .home_Hmain1 ul li {
  width: 2.4375rem;
  height: 2.90625rem;
  float: left;
  margin: 0 0.21875rem 0.28125rem 0;
}
#home_hidden .home_Hmain2 ul li img,
#home_hidden .home_Hmain1 ul li img {
  width: 2.4375rem;
  height: 2.90625rem;
  border-radius: 0.1875rem;
}
.show {
  background: gray;
  border-top: solid 5px #ffd040;
  font-size: 30px;
}
.none {
  display: none;
}
.block {
  display: block;
}
